<div class="container">
  <div class="row align-items-center">
    <h3>{{menu.name}} {{'MENUS.CONTENTS' | translate}}</h3>
  </div>
  <div class="row align-items-center align-content-center" *ngIf="!loading && loadError">
    <h6 class="col-12 text-align-center">{{'ERRORS.LOAD_ERROR' | translate}}<br/><br/>
    <button class="btn btn-primary rounded" (click)="getMenu()">{{'GENERAL.TRY_AGAIN' | translate}}</button></h6>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><mat-spinner></mat-spinner></div>
  </div>
  <div class="row justify-content-center" *ngIf="!loading">
    <button type="button" class="btn btn-primary half-width rounded" (click)="openAddSectionDialog()">{{'MENUS.ADD_SECTION' | translate}}</button>
  </div>
  <div class="row" *ngIf="!loading">
    <table class="table">
      <ng-container *ngFor="let section of menu.contents; let sectionIndex = index;">
        <thead class="thead-default">
          <tr>
            <th colspan="2">{{section.title}}</th>
            <th>
              <!--<mat-icon matTooltip="{{'MENUS.MOVE_SECTION_UP' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="move(true, sectionIndex)">arrow_upward</mat-icon>
              <mat-icon matTooltip="{{'MENUS.MOVE_SECTION_DOWN' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="move(false, sectionIndex)">arrow_downward</mat-icon>-->
              <mat-icon matTooltip="{{'GENERAL.EDIT' | translate}}" matTooltipPosition="above" class="" (click)="editSection(sectionIndex)">mode_edit_outline</mat-icon>
              <mat-icon matTooltip="{{'MENUS.DELETE_SECTION' | translate}}" matTooltipPosition="above" class="" (click)="deleteSection(sectionIndex)">delete_forever</mat-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of section.products; let productIndex = index;">
            <td class="col-6">{{product.name}}</td>
            <td class="col-4">{{product.price | currency:'GBP':true}}</td>
            <td class="col-2"><mat-icon matTooltip="{{'GENERAL.REMOVE' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="removeProduct(sectionIndex, productIndex)">remove_circle_outline</mat-icon></td>
          </tr>
          <tr>
            <td colspan="3"><a href="javascript:void(0);" (click)="addProductDialog(sectionIndex)">{{'MENUS.ADD_PRODUCT' | translate}}</a></td>
          </tr>
          <tr><td></td></tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>
