<div class="container">
  <div class="row">
    <h3>{{'MENUS.MENUS' | translate}}</h3>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><mat-spinner></mat-spinner></div>
  </div>
  <div class="row align-items-center align-content-center" *ngIf="!loading && loadError">
    <h6 class="col-12 text-align-center">{{'ERRORS.LOAD_ERROR' | translate}}<br/><br/>
    <button mat-raised-button color="primary" (click)="getMenus()">{{'GENERAL.TRY_AGAIN' | translate}}</button></h6>
  </div>
  <div class="row" *ngIf="!loading && !loadError">
    <span>{{'MENUS.DESCRIPTION' | translate}}</span>
  </div>
  <div class="row justify-content-center" *ngIf="!loading && !loadError">
    <button type="button" mat-raised-button color="primary" class="half-width" (click)="openAddDialog()">{{'GENERAL.ADD' | translate}}</button>
  </div>
  <div class="row" *ngIf="!loading && !loadError">
    <table class="table">
      <tr>
        <td colspan="4"><input md-input placeholder="Filter" type="text" [(ngModel)]="searchCriteria" class="float-right"></td>
      <tr>
      <tr *ngFor="let menu of menus | nameFilter:searchCriteria; let i = index" (click)="selectMenu(i)">
        <ng-container *ngIf="menu !== -1">
          <td class="col-6">{{menu.name}}</td>
          <td class="col-4">
            <button type="button" mat-raised-button color="primary" *ngIf="!menu.active" (click)="$event.stopPropagation();makeActive(i)">Make Active</button>
            <button type="button" mat-raised-button color="secondary" *ngIf="menu.active" disabled>Active</button>
          </td>
          <td class="col-2">
            <mat-icon matTooltip="{{'GENERAL.EDIT' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="editMenu(i, $event)">edit</mat-icon>
            <mat-icon matTooltip="{{'GENERAL.DELETE' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="deleteConfirmation(i, $event)">delete_forever</mat-icon>
          </td>
        </ng-container>
        <td class="align-center" colspan="4" *ngIf="menu == -1">{{'SEARCH.NO_MATCHES'}}</td>
      </tr>
    </table>
  </div>
</div>
