<div class="container order-container">
  <div class="row order-title">
      <h3>{{'ORDERS.ORDERS' | translate}}</h3>
  </div>
  <div class="row align-items-center align-content-center" *ngIf="!loading && loadError">
    <h6 class="col-12 text-align-center">{{'ERRORS.LOAD_ERROR' | translate}}<br/><br/>
    <button mat-raised-button color="primary" (click)="getOrderBreakdown()">{{'GENERAL.TRY_AGAIN' | translate}}</button></h6>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><mat-spinner></mat-spinner></div>
  </div>
  <div class="row justify-content-center" *ngIf="!loading && !loadError">
    <button type="button" mat-raised-button color="primary" class="half-width" (click)="getOrders()">{{'GENERAL.REFRESH' | translate}}</button>
  </div>
  <div class="row justify-content-center" *ngIf="!loading  && !loadError">
    <div class="col-4 text-align-center">
      <button type="button" mat-raised-button color="primary" class="half-width" (click)="previousDay()" [disabled]="!canSelectPrevious">{{'ORDERS.PREV_DAY' | translate}}</button>
    </div>
    <div class="col-4 text-align-center">
      <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" placeholder="Choose a date" (dateChange)="dateChanged($event.value)" [(ngModel)]="selected" [max]="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true" [startAt]="selected"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-4 text-align-center">
      <button type="button" mat-raised-button color="primary" class="half-width" (click)="nextDay()" [disabled]="!canSelectNext">{{'ORDERS.NEXT_DAY' | translate}}</button>
    </div>
  </div>
  <div class="row" *ngIf="!loading && !loadError">
    <div class="container">
      <div class="row full-height" [hidden]="loadingOrders || orders.length > 0"><h3>{{'ORDERS.NO_ORDERS' | translate}}</h3></div>
      <div class="row center-spinner" [hidden]="!loadingOrders"><mat-spinner></mat-spinner></div>
      <div class="row full-height" [hidden]="loadingOrders || orders.length < 1">
        <div class="col-lg-12 col-mat-12 col-sm-12 col-xs-12 auto-height order" *ngFor="let order of orders; let o = index;">
          <div class="order-inner">
            <div class="col-12">
              <div class="display-inline-block">
                <h6>{{order.subtotal | currency:'gbp':'symbol'}}</h6>
              </div>
              <div class="display-inline-block float-right">
                <h6 class="display-inline-block">{{order.status}}</h6>
                <div class="dropdown display-inline-block">
                  <button class="btn btn-sm btn-outline-primary btn-no-outline btn-no-focus btn-no-active btn-no-hover" type="button" id="orderActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="arrow down no-top-margin"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="orderActions">
                    <a class="dropdown-item" href="javascript:null;">{{'ORDERS.DELETE' | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 col-mat-6 col-sm-12 col-xs-12">
                  <mat-list>
                    <mat-list-item *ngFor="let product of order.products.slice(0,Math.ceil(order.products.length/2)); let p = index"> <mat-icon matListIcon (click)="highlighted[o].left[p]=!highlighted[o].left[p]">{{!highlighted[o].left[p]?'label_outline':'label'}}</mat-icon>{{product.name}}</mat-list-item>
                  </mat-list>
                </div>
                <div class="col-lg-6 col-mat-6 col-sm-12 col-xs-12">
                  <mat-list>
                    <mat-list-item *ngFor="let product of order.products.slice(Math.ceil(order.products.length/2)); let p = index;"><mat-icon matListIcon (click)="highlighted[o].right[p]=!highlighted[o].right[p]">{{!highlighted[o].right[p]?'label_outline':'label'}}</mat-icon>{{product.name}}</mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      <div>
    </div>
  </div>
</div>
