@import '../../variables.scss';

.order{
  padding: 7.5px;
  border-bottom: 1px solid $tertiary-color;
}

.order-container{
  padding-right: 0px;
  padding-left: 0px;
}

.order-title{
  padding-right: 15px;
  padding-left: 15px;
}

.order:first-child{
  border-top: 1px solid $tertiary-color;
}

.row {
  margin-top: 10px;
}

.order:hover{
  background: $tertiary-color;
}

.order-inner {
  padding: 5px;
  .status{
    width: 100%;
    .btn-group{
      .btn{
        font-size: 0.9rem;
      }
    }
  }
}

label.btn.order-status{
  border: 1px solid $secondary-color;
  box-shadow: none !important;
  &.active{
    background: $secondary-color;
    color: white;
  }

  &:hover{
    background: $secondary-color;
    color: white;
  }

  &:focus{
    box-shadow: none !important;
  }
}
