<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6 col-md-offset-3">
      <h2>{{'SETTINGS.PASSWORD' | translate}}</h2>
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && resetPassword()" novalidate>
        <div class="form-group" [ngClass]="{'has-error':f.submitted && !username.valid }">
          <input type="text" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="{{'GENERAL.PASSWORD' | translate}}" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">{{'SETTINGS.PASSWORD_IS_REQUIRED' | translate}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newpass.valid }">
            <input type="newpass" class="form-control" name="newpass" [(ngModel)]="model.newpass" #newpass="ngModel" placeholder="{{'SETTINGS.NEW_PASSWORD' | translate}}" required />
            <div *ngIf="f.submitted && !newpass.valid" class="help-block">{{'SETTINGS.NEW_PASSWORD_REQUIRED' | translate}}</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newpassconf.valid }">
            <input type="newpassconf" class="form-control" name="newpassconf" [(ngModel)]="model.newpassconf" #newpassconf="ngModel" placeholder="{{'SETTINGS.CONFIRM_PASSWORD' | translate}}" required />
            <div *ngIf="f.submitted && !newpassconf.valid" class="help-block">{{'SETTINGS.PASSWORD_NO_MATCH' | translate}}</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{'SETTINGS.CHANGE_PASSWORD' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
