<div class="container">
  <div class="row">
      <h3>{{'TABLES.TABLES' | translate}}</h3>
  </div>
  <div class="row justify-content-center">
    <span>{{'MANAGE.TABLES.DESCRIPTION' | translate}}</span>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary half-width rounded" (click)="openDialog()">{{'GENERAL.ADD' | translate}}</button>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><md-spinner></md-spinner></div>
  </div>
  <div class="row" *ngIf="!loading">
    <table class="table">
      <tr *ngFor="let table of tables; let i = index">
        <td class="col-9">{{table.name}}</td>
        <td class="col-3">
          <mat-icon matTooltip="{{'GENERAL.EDIT' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="editDialog(i)">edit</mat-icon>
          <mat-icon matTooltip="{{'GENERAL.DELETE' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="deleteConfirmation(table._id, i)">delete_forever</mat-icon>
        </td>
      </tr>
    </table>
  </div>
</div>
