<div class="container">
  <div class="row">
      <h3>{{'TABLES.TABLES' | translate}}</h3>
  </div>
  <div class="row align-items-center align-content-center" *ngIf="!loading && loadError">
    <h6 class="col-12 text-align-center">{{'ERRORS.LOAD_ERROR' | translate}}<br/><br/>
    <button mat-raised-button color="primary" (click)="getTables()">{{'GENERAL.TRY_AGAIN' | translate}}</button></h6>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><mat-spinner></mat-spinner></div>
  </div>
  <div class="row justify-content-center" *ngIf="!loading && !loadError">
    <span>{{'MANAGE.TABLES.DESCRIPTION' | translate}}</span>
  </div>
  <div class="row justify-content-center" *ngIf="!loading && !loadError">
    <button type="button" mat-raised-button color="primary" class="half-width" (click)="openDialog()">{{'GENERAL.ADD' | translate}}</button>
  </div>
  <div class="row" *ngIf="!loading && !loadError">
    <table class="table">
      <tr>
        <td colspan="4">
          <button type="button" mat-raised-button color="primary" class="float-right" (click)="downloadAll()">{{'TABLES.DOWNLOAD_ALL' | translate}}</button>
        </td>
      <tr>
      <tr *ngFor="let table of tables; let i = index">
        <td class="col-9">{{table.name}}</td>
        <td class="col-3">
          <a class="side-by-side no-a-styling color-primary" href="{{downloadQrCode(i)}}" download="{{table.name}}.png"><mat-icon matTooltip="{{'TABLES.DOWNLOAD' | translate}}" matTooltipPosition="above">file_download</mat-icon></a>
          <mat-icon matTooltip="{{'GENERAL.EDIT' | translate}}" matTooltipPosition="above"  color="primary" class="side-by-side" (click)="editDialog(i)">edit</mat-icon>
          <mat-icon matTooltip="{{'GENERAL.DELETE' | translate}}" matTooltipPosition="above" color="primary" class="side-by-side" (click)="deleteConfirmation(table._id, i)">delete_forever</mat-icon>
        </td>
      </tr>
    </table>
  </div>
</div>
