<div class="container">
  <div class="row">
    <h3>{{'PRODUCTS.PRODUCTS' | translate}}</h3>
  </div>

  <div class="row align-items-center align-content-center" *ngIf="!loading && loadError">
    <h6 class="col-12 text-align-center">{{'ERRORS.LOAD_ERROR' | translate}}<br/><br/>
    <button mat-raised-button color="primary" (click)="getProducts()">{{'GENERAL.TRY_AGAIN' | translate}}</button></h6>
  </div>
  <div class="row" *ngIf="loading">
    <div class="row center-spinner"><mat-spinner></mat-spinner></div>
  </div>

  <div class="row" *ngIf="!loading && !loadError">
    {{'PRODUCTS.DESCRIPTION' | translate}}
  </div>
  <div class="row justify-content-center" *ngIf="!loading && !loadError">
    <button type="button" mat-raised-button color="primary" class="half-width" (click)="openAddDialog()">{{'GENERAL.ADD' | translate}}</button>
  </div>
  <div class="row" *ngIf="!loading && !loadError">
    <table class="table">
      <tr>
        <td colspan="6"><input placeholder="Filter" type="text" [(ngModel)]="searchCriteria" class="float-right"></td>
      </tr>
      <tr>
        <th>{{'PRODUCTS.NAME' | translate}}</th>
        <th>{{'PRODUCTS.DESCRIPTION' | translate}}</th>
        <th>{{'PRODUCTS.PRICE' | translate}}</th>
        <th>{{'PRODUCTS.STOCK' | translate}}</th>
        <th>{{'PRODUCTS.AGE' | translate}}</th>
        <th></th>
      </tr>
      <tr *ngFor="let product of products | productFilter:searchCriteria; let i = index;">
        <ng-container *ngIf="product !== -1">
          <td class="col-3">{{product.name}}</td>
          <td class="col-4">{{product.description | truncate:20}}</td>
          <td class="col-1">{{product.price | currency:'GBP':true}}</td>
          <td class="col-1" *ngIf="product.in_stock">
            <mat-icon matTooltip="{{'PRODUCTS.IN_STOCK' | translate}}" (click)="toggleStockStatus(i)" matTooltipPosition="above" class="side-by-side cursor-pointer">done</mat-icon>
          </td>
          <td class="col-1" *ngIf="!product.in_stock">
            <mat-icon matTooltip="{{'PRODUCTS.OUT_OF_STOCK' | translate}}" (click)="toggleStockStatus(i)" matTooltipPosition="above" class="side-by-side cursor-pointer">clear</mat-icon>
          </td>
          <td class="col-1" *ngIf="product.age_restricted">
            <mat-icon matTooltip="{{'PRODUCTS.AGE_RESTRICTED' | translate}}" (click)="toggleAgeRestriction(i)" matTooltipPosition="above" class="side-by-side cursor-pointer">done</mat-icon>
          </td>
          <td class="col-1" *ngIf="!product.age_restricted">
            <mat-icon matTooltip="{{'PRODUCTS.NOT_AGE_RESTRICTED' | translate}}" (click)="toggleAgeRestriction(i)" matTooltipPosition="above" class="side-by-side cursor-pointer">clear</mat-icon>
          </td>
          <td class="col-1">
            <mat-icon matTooltip="{{'GENERAL.EDIT' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="openEditDialog(i)">edit</mat-icon>
            <mat-icon matTooltip="{{'GENERAL.DELETE' | translate}}" matTooltipPosition="above" class="side-by-side" (click)="deleteConfirmation(i)">delete_forever</mat-icon>
          </td>
        </ng-container>
        <td class="align-center" colspan="6" *ngIf="product == -1">{{'SEARCH.NO_MATCHES' | translate}}</td>
      </tr>
    </table>
  </div>
</div>
