<h1 md-dialog-title>{{'MENUS.ADD_MENU' | translate}}</h1>
<div md-dialog-content>
  <select multiple #selectedProduct class="product_selector">
    <option *ngFor="let product of available; let i = index;">{{product.name}}</option>
  </select>
  <div class="display-inline-block">
    <div><md-icon (click)="chooseProduct(selectedProduct.selectedIndex)">chevron_right</md-icon></div>
    <div><md-icon (click)="removeProduct(chosenProduct.selectedIndex)">chevron_left</md-icon></div>
  </div>
  <select multiple #chosenProduct class="product_selector">
    <option *ngFor="let product of chosen">{{product.name}}</option>
  </select>
</div>
<div md-dialog-actions>
    <button md-button type="button" class="btn btn-default" (click)="close()">{{'GENERAL.CANCEL' | translate}}</button>
    <button md-button type="button" class="btn btn-default" (click)="submit()">{{'GENERAL.ADD' | translate}}</button>
</div>
