<h3 mat-dialog-title>{{'MENUS.ADD_MENU' | translate}}</h3>
<mat-dialog-content class="mat-dialog-content display-inline-block col-6 no-padding vertical-align-top">
  <div>
    <mat-selection-list #selectedProducts class="hide-select-boxes no-outline">
      <mat-list-option *ngFor="let product of available; let i = index" [value]="i" (selectionChange)="select(i)"><span>{{product.name}} <mat-icon class="float-right">chevron_right</mat-icon></span></mat-list-option>
    </mat-selection-list>
  </div>
</mat-dialog-content>
<mat-dialog-content class="mat-dialog-content display-inline-block col-6 no-padding vertical-align-top">
  <div>
    <mat-selection-list #chosenProducts class="hide-select-boxes align-text-right no-outline">
      <mat-list-option *ngFor="let product of chosen; let i = index;" [value]="i" (selectionChange)="remove(i)"><span><mat-icon class="float-left">chevron_left</mat-icon><span class="float-right">{{product.name}}</span></span></mat-list-option>
    </mat-selection-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="display-block">

    <button mat-raised-button color="primary" type="button" class="btn btn-default" (click)="addNew()">{{'GENERAL.ADD' | translate}}</button>
    <span class="float-right">
    <button mat-button type="button" class="btn btn-default" (click)="close()">{{'GENERAL.CANCEL' | translate}}</button>
    <button mat-raised-button color="primary" type="button" class="btn btn-default" (click)="submit()">{{'GENERAL.SAVE' | translate}}</button>
    </span>
</mat-dialog-actions>
