@import './variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  background: $background-color;
  color: $text-color;
}

html {
  height: 100%;
  width: 100%;
}

app-root {
  height: 100%;
  width: 100%;
  display: block;
}


router-outlet.root + ng-component {
   width: calc(100% - 30px);
   /*86px = 56px for navbar height + 30px for margin*/
   height: calc(100% - 86px);
   display: block;
   margin: 71px 15px 15px 15px !important;
}

.container {
    width: 100% !important;
    min-height: 100% !important;
    margin: 0px !important;
    max-width: 100%;
}

.full-height {
  height: 100%;
}

.auto-height{
  height: auto;
}

.half-width {
  width: 50%;
}

.display-block{
  display: block;
}

.bg-white{
  background: white;
}




//SIDE MENU STUFF

$hover-color:darken($primary-color, 30%);

.btn-group-vertical.side-list>.btn {
    border-radius: 0px;
    text-align: left;
    background: white;
    border: none;

    &:hover{
      color:$hover-color;
    }
}

i {
    border: solid $hover-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: right;
    margin-top: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.btn.rounded{
  border-radius: 2rem !important;
}

@mixin table-col($portion){
  width: (100% / 12) * $portion;
}

table td.col-1{@include table-col(1)}
table td.col-2{@include table-col(2)}
table td.col-3{@include table-col(3)}
table td.col-4{@include table-col(4)}
table td.col-5{@include table-col(5)}
table td.col-6{@include table-col(6)}
table td.col-7{@include table-col(7)}
table td.col-8{@include table-col(8)}
table td.col-9{@include table-col(9)}
table td.col-10{@include table-col(10)}
table td.col-11{@include table-col(11)}
table td.col-12{@include table-col(12)}
