/*$primary-color: #7BA7E1;*/

@import '~@angular/material/theming';


$primary-color: map-get($mat-light-blue, 500);



$secondary-color: map-get($mat-light-blue, 300);
$tertiary-color: map-get($mat-light-blue, 50);
$background-color: lighten($tertiary-color,4%);
$text-color: map-get($mat-light-blue, 900);
