<div class="container">
  <div class="row full-height">
    <div class="col-3 display-block full-height">
      <!-- User Header-->
      <mat-card>
        <mat-card-header>
          <!--<div mat-card-avatar class=""></div>-->
          <mat-card-title *ngIf="!premisesLoadError">{{premises.name}}</mat-card-title>
          <mat-card-title *ngIf="premisesLoadError">{{'ERRORS.LOAD_FAILED' | translate}}</mat-card-title>
          <mat-card-subtitle>{{user.verififed}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
      <br/>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{'HOME.PREMISES_STATUS' | translate}}</mat-card-title>
          <mat-card-subtitle *ngIf="!validSetup">Setup Incomplete</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content><mat-slide-toggle [disabled]="!validSetup" [(ngModel)]="premises.open" (change)="changePremisesStatus()" color="primary">{{premises.open ? ('HOME.OPEN' | translate):('HOME.CLOSED' | translate)}}</mat-slide-toggle></mat-card-content>
      </mat-card>
    </div>
    <div class="col-6 display-block full-height ">
      <mat-card>
        <mat-card-header>{{'HOME.DASHBOARD' | translate}}</mat-card-header>
      </mat-card>
      <br/>
      <mat-card *ngIf="!validSetup">
        <mat-card-header>{{'HOME.TODO' | translate}}</mat-card-header>
        <mat-card-content>
          <div class="row center-spinner" *ngIf="loadingSetup"><mat-spinner></mat-spinner></div>
          <table class="table" *ngIf="!loadingSetup && !setupLoadError">
            <tr *ngIf="!setup.premises">
              <td class="col-9">Create a premises</td>
              <td matButton class="col-3 text-align-right"><button>Take me there</button></td>
            </tr>
            <tr *ngIf="!setup.payment">
              <td class="col-9">Setup payments</td>
              <td class="col-3 text-align-right"><button>Take me there</button></td>
            </tr>
            <tr *ngIf="!setup.menu">
              <td class="col-9">Create a menu</td>
              <td class="col-3 text-align-right"><button>Take me there</button></td>
            </tr>
            <tr *ngIf="!setup.active">
              <td class="col-9">Make a menu active</td>
              <td class="col-3 text-align-right"><button>Take me there</button></td>
            </tr>
          </table>
          <h6 *ngIf="!loadingSetup && setupLoadError">{{'ERRORS.LOAD_FAILED' | translate}}</h6>
        </mat-card-content>
      </mat-card>
    </div>
  <div>
</div>
